# dependencies
node_modules/

# build output
dist/

# environment
.env
.env.*

# astro
.astro/

# editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
