---
import Layout from "../layouts/Layout.astro";
import App from "../components/App";
---

<Layout title="TwitchMIDI Chord Progression Builder">
  <div class="max-w-4xl mx-auto px-4 py-6">
    <App client:load />
  </div>
</Layout>
